{% extends "KisaanCoreBundle:Frontend:layout.html.twig" %}

{% trans_default_domain 'kisaan_user' %}

{% block main %}
    <h1>{{ 'user.reset.h1'|trans }}</h1>

    {% include 'KisaanCoreBundle:Frontend/Common:_flash.html.twig' %}

    <form class="form" action="{{ path('kisaan_user_change_password') }}" method="POST">
        {{ form_widget(form) }}

        <button type="submit">{{ 'change_password.submit'|trans }}</button>
    </form>
{% endblock main %}
